.conteiner {
  max-width: 1000px;
  margin: 0 auto;
  min-width: 100vh;
  background: #eee;
  padding: 10px 20px;
}

.button-container {
  min-height: 100px;
  display: flex;
  align-items: flex-end;
}
.button:disabled {
  background: #888;
  cursor: not-allowed;
}

.search-container {
  margin-bottom: 30px;
}

.search-container h1 {
  margin-bottom: 30px;
}
